<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
  <extensions>
    <add assembly="NLog.Targets.Splunk" />
  </extensions>
  <targets async="true">
    <target name="Splunk"
            xsi:type="SplunkHttpEventCollector"
            serverUrl="http://ncache-dotnet_splunk_1:8088"
            token="e2116c6c-5fa0-4a91-bcdf-0b7442a6f9d5"
            channel="channel-guid"
            retriesOnError="0"
            batchSizeBytes="0"
            batchSizeCount="0"
            includeEventProperties="true"
            includeMdlc="false"
            includePositionalParameters="false"
	    MaxConnectionsPerServer="10"
	    IgnoreSslErrors="false">
		<contextproperty name="host" layout="${machinename}" />
		<contextproperty name="threadid" layout="${threadid}" />
		<contextproperty name="logger" layout="${logger}" />
	</target>    
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="Splunk" />
  </rules>
</nlog>
<!--serverUrl="http://ncache-dotnet_so1_1:8088"-->